
.landing {
  background-image: linear-gradient(#e1eaef, #e4f3ec);
  height: 100vh;
}


.landing-content {
  height: 70%;
  margin-top: 15%;

  & .author {
    font-size: calc(13px + (26 - 13) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Raleway';
    color: white;
  }

  & .title {
    font-size: calc(36px + (72 - 36) * ((100vw - 300px) / (1600 - 300)));
    color: white;
  }

  & .subtitle {
    font-size: calc(16px + (32 - 16) * ((100vw - 300px) / (1600 - 300)));
    color: white;
  }

  & .call-to-action {
    font-family: 'Raleway';
    color: white;
    font-size: calc(12px + (24 - 12) * ((100vw - 300px) / (1600 - 300)));
  }

  & .lighter-weight {
    font-weight: lighter;
    margin: 0 5px;
    color: white;
  }
}

@media only screen and (min-width: 768px) {
  .landing-content {
    height: 60%;
    max-width: 75%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}


.landing-icon-container {
  width: 160px;
  height: 160px;
  border: 2px solid rgba(255,255,255,1);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pulse-border 2s infinite;
  cursor: pointer;
}

@keyframes pulse-border {
  0% {
    border-color: rgba(255,255,255,1);
  }
  50% {
    border-color: rgba(255,255,255,0);
  }
  100% {
    border-color: rgba(255,255,255,1);
  }
}

.landing-icon {
  transform: rotate(0deg); 
  animation: rotation 240s infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(360deg);
  }
}

.not-scrolling {
  background-position: 0 0%;
  transition: 2s background-position;
  transform: translateZ(0);
  will-change: background-position;
}

.scrolling {
  background-position: 0 100%;
  transition: 2s background-position;
  transform: translateZ(0);
  will-change: background-position;
}

$first-row-fall-time: 0.5s;
$second-row-fall-time: 1s;
$third-row-fall-time: 1.2s;
$fall-ease: cubic-bezier(0.175, 0.885, 0.32, 1.275);

.landing-header {
  position: relative;
  transform: translate(0px, -500px);
  animation: gravity1 $first-row-fall-time forwards;
  transition-timing-function: $fall-ease;
}

.landing-content {
  transform: translate(0px, -500px);
  animation: gravity2 $second-row-fall-time forwards;
  transition-timing-function: $fall-ease;
}

.landing-footer {
  transform: translate(0px, -500px);
  animation: gravity3 $third-row-fall-time forwards;
  transition-timing-function: $fall-ease;
}

@keyframes gravity1 {
  0% {
    transform: translate(0px, -500px);
  }
  98% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes gravity2 {
  0% {
    transform: translate(0px, -500px);
  }
  98% {
    transform: translate(0px, 65px);
  }
  100% {
    transform: translate(0px, 65px);
  }
}

@keyframes gravity3 {
  0% {
    transform: translate(0px, -500px);
  }
  98% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 200px);
  }
}
