.header-el {
  width: 24%;
  height: 1px;
  background-color: #999999;
  transition: 1s all;
  opacity: 0.3;
}

.header-el.selected {
  background-color: #43449a;
  transition: 1s all;
  opacity: 1;
}
