#header {
  width: 100%; 
  position: fixed;
  display: flex;
  justify-content:  space-between;
  align-items: center;
  height: 30px;
  z-index: 99;
}

@media only screen and (min-width: 768px) {
  #header {
    position: fixed;
    top: 60px;
    width: 30px;
    left: 10px;
    height: 100%;
  }
}

.header-el {
  width: 24%;
  height: 2px;
  background-color: #999999;
  transition: 1s all;
  opacity: 0.3;
}

.header-el.selected {
  background-color: #43449a;
  transition: 1s all;
  opacity: 1;
}
