.langEl {
  font-weight: bold;
  font-size: 14px;
  color: #43449a;
  font-family: 'Raleway', sans-serif;
  width: 12.5%;
  text-align: center;
}

.langEl-selected {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 2px solid #43449a;
  background-color: transparent;
  position: absolute;
  transition: 0.5s all;
  top: 0px;
}

.yearEl {
  width: 9.1%;
  display: flex;
  justify-items: center;
  align-items: center;
}

.yearCircle {
  width: 10px;
  height: 8px;
  background-color: #43449a;
  border-radius: 10px;
  position: relative;
}

.yearTouchArea {
  width: 9.1%;
  height: 25px;
  background-color: transparent;
  border-radius: 25px;
  position: absolute;
  z-index: 0;
  left: -50%;
  top: -50%;
}

.yearEl-selected {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid #43449a;
  background-color: transparent;
  position: absolute;
  transition: 0.5s all;
  top: -11px;
}

.yearLine {
  width: 50%;
  height: 1px;
  background-color: #43449a;
}

.yearVal {
  position: absolute;
  top: 25px;
  font-size: 13px;
}
