.chapter1 {
  background-image: linear-gradient(#e1eaef, #e4f3ec);
}

.chapter2 {
  background-image: linear-gradient(#e5f2ef, #d0d7eb);
}

.chapter3 {
  background-image: linear-gradient(#efe2e1, #ebf5f5);
}

.chapter4 {
  background-image: linear-gradient(#e6f1eb, #dde6ed);
}

.landing {
  background-image: linear-gradient(#e1eaef, #e4f3ec);
  height: 100vh;
}

.landing-header {
  height: 35%;
}

.landing-content {
  height: 45%;

  & .title {
    font-size: calc(38px + (70 - 38) * ((100vw - 300px) / (1600 - 300)));
  }

  & .subtitle {
    font-size: calc(28px + (56 - 28) * ((100vw - 300px) / (1600 - 300)));
  }
}

.landing-footer {
  height: 20%;
}

.landing1,
.explore1,
.explore2,
.explore3,
.explore4,
.content1 {
  position: relative;
}

.page__inner,
.explore1,
.explore2,
.explore3,
.explore4 {
  height: 100%;
}
