.chapter1 {
  background-image: linear-gradient(#e1eaef, #e4f3ec);
}

.chapter2 {
  background-image: linear-gradient(#e1eaef, #e4f3ec);
}

.chapter3 {
  background-image: linear-gradient(#e1eaef, #e4f3ec);
}

.chapter4 {
  background-image: linear-gradient(#e1eaef, #e4f3ec);
}

.landing1 {
  min-height: 100vh;
}

.explore1 {
  height: 100vh;
}

.explore2 {
  background-image: linear-gradient(#e2f2ef, #d0d7ed);
  height: 100vh;
}
