body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#e1eaef, #e4f3ec);
}

html, body, #root {
  height: 100%;
}

@media only screen and (min-width: 768px) {
  body {
    background: white;
  }
  body, #root {
    overflow: hidden;
    height: 100%;
  }
}

* {
  font-family: 'Cormorant Garamond', serif;
  box-sizing: border-box;
  /* outline: 1px solid gold; */
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.sourcesanspro {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Page */

.page {
  height: calc(100vh - 50px);
  /* padding: calc(15% + 1.5em) 5% 5%; */
  overflow-y: auto;
  padding-top: 30px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  transition: transform 1s ease-in-out, box-shadow 1s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .read {
    max-width: 75%;
    margin: 0 auto;
    padding-top: 75px;
  }

  .page {
    height: 100vh;
    padding-top: 50px;
  }
}

.flex {
  display: flex;
  flex: 0 1 auto;
}

/* .page-enter {
  transform: translate(-100%, 0);
}

.page-enter-active {
  transform: translate(0, 0);
}

.page-exit {
  box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.5) inset;
  transform: translate(-100%, 0);
}

.page--prev.page-enter {
  transform: translate(100%, 0);
}

.page--prev.page-enter-active {
  transform: translate(0, 0);
}

.page--prev.page-exit {
  transform: translate(100%, 0);
}

.page-exit .page__inner {
  opacity: 1;
  transform: scale(0.9);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
} */

h1 {
  font-size: 30px;
}

h4 {
  font-size: 14px;
  text-transform: uppercase;
}


@media only screen and (min-width: 768px) {
  h1 {
    font-size: 54px;
  }

  h4 {
    font-size: 24px;
  }

  p {
    font-size: 22px;
  }
}

.right-tap {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 40px;
  z-index: 999;
}

.left-tap {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 40px;
  z-index: 999;
}

@media only screen and (min-width: 768px) {
  .right-tap {
    right: 0px;
  }

  .left-tap {
    left: 0px;
  }
}

.view {
  height: 100vh;
  /* padding: calc(15% + 1.5em) 5% 5%; */
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  transition: transform 1s ease-in-out, box-shadow 1s ease-in-out;
}

.view-enter {
  transform: translate(-100%, 0);
}

.view-enter-active {
  transform: translate(0, 0);
}

.view-exit {
  box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.5) inset;
  transform: translate(100%, 0);
}

.page-enter {
  transform: translate(100%, 0);
}

.page-enter-active {
  transform: translate(0, 0);
}

.page-exit {
  box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.5) inset;
  transform: translate(-100%, 0);
}

.page-right.page-enter {
  transform: translate(-100%, 0);
}

.page-right.page-enter-active {
  transform: translate(0, 0);
}

.page-right.page-exit {
  box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.5) inset;
  transform: translate(100%, 0);
}

.page-exit .page__inner {
  opacity: 1;
  transform: scale(0.9);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.menu {
  transition: 0.5s all;
  height: 100%;
  overflow: hidden;
  background-color: #43449a;
  transform: translate(-100%, 0%);
  z-index: -100;
  animation: slideMenuOut 0.5s 0s forwards;
  pointer-events: none;
  opacity: 0;
}

.menu.open {
  transition: 0.5s all;
  height: 100%;
  z-index: 100;
  transform: translate(0%, 0%);
  animation: slideMenuIn 0.5s 0s forwards;
  pointer-events: auto;
}

.menu.close {
  transition: 0.5s all;
  height: 100%;
  z-index: 100;
  transform: translate(-100%, 0%);
  animation: slideMenuOut 0.5s 0s forwards;
  pointer-events: auto;
}

.legend {
  transition: 0.5s all;
  height: 100%;
  overflow: hidden;
  background-color: rgba(67, 68, 154, 0.9);
  transform: translate(100%, 0%);
  z-index: -100;
  animation: slideLegendOut 0.5s 0s forwards;
  pointer-events: none;
  opacity: 0;
}

.legend.open {
  transition: 0.5s all;
  z-index: 100;
  transform: translate(100%, 0%);
  animation: slideLegendIn 0.5s 0s forwards;
  pointer-events: auto;
}

.legend.close {
  transition: 0.5s all;
  z-index: 100;
  transform: translate(100%, 0%);
  animation: slideLegendOut 0.5s 0s forwards;
  pointer-events: auto;
}

@keyframes slideMenuIn {
  0% {
    opacity: 1;
    transform: translate(-100%, 0%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0%);
  }
}

@keyframes slideMenuOut {
  0% {
    transform: translate(0%, 0%);
    z-index: 100;
  }
  99% {
    transform: translate(-100%, 0%);
    z-index: 100;
  }
  100% {
    transform: translate(-100%, 0%);
    z-index: -1;
  }
}

@keyframes slideLegendIn {
  0% {
    opacity: 1;
    transform: translate(100%, 0%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

@keyframes slideLegendOut {
  0% {
    transform: translate(0, 0%);
    z-index: 100;
  }
  99% {
    transform: translate(100%, 0%);
    z-index: 100;
  }
  100% {
    transform: translate(100%, 0%);
    z-index: -1;
  }
}

/* fix iOS bug not displaying 100vh correctly */
/* ipad */
/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .fullheight {
    height: 768px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .fullheight {
    height: 1024px;
  }
} */
/* iphone5 */
/* @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .fullheight {
    height: 320px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .fullheight {
    height: 568px;
  }
} */
/* iPhone 4 */
/* @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .fullheight {
    height: 320px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .fullheight {
    height: 480px;
  }
} */

.blur {
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  transition: 1s filter;
}

.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ios-fix {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  perspective: 1000;
  -webkit-perspective: 1000;
}

.highlights {
  font-weight: bold;
  font-style: italic;
}

.hover-underline {
  
}