body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#e1eaef, #e4f3ec);
}

* {
  font-family: 'Cormorant Garamond', serif;
  box-sizing: border-box;
  /* outline: 1px solid gold; */
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

/* Page */

.page {
  height: 100%;
  /* padding: calc(15% + 1.5em) 5% 5%; */
  overflow-y: auto;
  padding-top: 50px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  transition: transform 1s ease-in-out, box-shadow 1s ease-in-out;
}

/* .page-enter {
  transform: translate(-100%, 0);
}

.page-enter-active {
  transform: translate(0, 0);
}

.page-exit {
  box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.5) inset;
  transform: translate(-100%, 0);
}

.page--prev.page-enter {
  transform: translate(100%, 0);
}

.page--prev.page-enter-active {
  transform: translate(0, 0);
}

.page--prev.page-exit {
  transform: translate(100%, 0);
}

.page-exit .page__inner {
  opacity: 1;
  transform: scale(0.9);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
} */

.right-tap {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 30px;
  z-index: 99;
}

.left-tap {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 30px;
  z-index: 99;
}

.view {
  height: 100vh;
  /* padding: calc(15% + 1.5em) 5% 5%; */
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  transition: transform 1s ease-in-out, box-shadow 1s ease-in-out;
}

.view-enter {
  transform: translate(-100%, 0);
}

.view-enter-active {
  transform: translate(0, 0);
}

.view-exit {
  box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.5) inset;
  transform: translate(100%, 0);
}

.page-enter {
  transform: translate(100%, 0);
}

.page-enter-active {
  transform: translate(0, 0);
}

.page-exit {
  box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.5) inset;
  transform: translate(-100%, 0);
}

.page-right.page-enter {
  transform: translate(-100%, 0);
}

.page-right.page-enter-active {
  transform: translate(0, 0);
}

.page-right.page-exit {
  box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.5) inset;
  transform: translate(100%, 0);
}

.page-exit .page__inner {
  opacity: 1;
  transform: scale(0.9);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.menu {
  transition: 0.3s all;
  height: 0;
  overflow: hidden;
}

.menu.open {
  transition: 1s all;
  height: 100vh;
}
