body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#e1eaef, #e4f3ec);
}

* {
  font-family: 'Cormorant Garamond', serif;
  box-sizing: border-box;
  /* outline: 1px solid gold; */
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

/* Page */

.page {
  height: calc(100vh - 50px);
  /* padding: calc(15% + 1.5em) 5% 5%; */
  overflow-y: auto;
  padding-top: 30px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  transition: transform 1s ease-in-out, box-shadow 1s ease-in-out;
}

/* .page-enter {
  transform: translate(-100%, 0);
}

.page-enter-active {
  transform: translate(0, 0);
}

.page-exit {
  box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.5) inset;
  transform: translate(-100%, 0);
}

.page--prev.page-enter {
  transform: translate(100%, 0);
}

.page--prev.page-enter-active {
  transform: translate(0, 0);
}

.page--prev.page-exit {
  transform: translate(100%, 0);
}

.page-exit .page__inner {
  opacity: 1;
  transform: scale(0.9);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
} */

h1 {
  font-size: 30px;
}

h4 {
  font-size: 14px;
  text-transform: uppercase;
}

.right-tap {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 30px;
  z-index: 99;
}

.left-tap {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 30px;
  z-index: 99;
}

.view {
  height: 100vh;
  /* padding: calc(15% + 1.5em) 5% 5%; */
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  transition: transform 1s ease-in-out, box-shadow 1s ease-in-out;
}

.view-enter {
  transform: translate(-100%, 0);
}

.view-enter-active {
  transform: translate(0, 0);
}

.view-exit {
  box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.5) inset;
  transform: translate(100%, 0);
}

.page-enter {
  transform: translate(100%, 0);
}

.page-enter-active {
  transform: translate(0, 0);
}

.page-exit {
  box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.5) inset;
  transform: translate(-100%, 0);
}

.page-right.page-enter {
  transform: translate(-100%, 0);
}

.page-right.page-enter-active {
  transform: translate(0, 0);
}

.page-right.page-exit {
  box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.5) inset;
  transform: translate(100%, 0);
}

.page-exit .page__inner {
  opacity: 1;
  transform: scale(0.9);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.menu {
  transition: 0.5s all;
  height: 100%;
  overflow: hidden;
  background-color: #43449a;
  transform: translate(0, 100%);
  z-index: -1;
  animation: slideOut .5s 0s forwards;
}

.menu.open {
  transition: 0.5s all;
  height: 100%;
  z-index: 100;
  transform: translate(0, 100%);
  animation: slideIn .5s 0s forwards;
}

.legend {
  transition: 0.5s all;
  height: 100%;
  overflow: hidden;
  background-color: #43449a;
  transform: translate(0, 100%);
  z-index: -1;
  animation: slideOut .5s 0s forwards;
}

.legend.open {
  transition: 0.5s all;
  height: 100%;
  z-index: 100;
  transform: translate(0, 100%);
  animation: slideIn .5s 0s forwards;
}

@keyframes slideIn {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0%);
  }
}

@keyframes slideOut {
  0% {
    transform: translate(0, 0%);
    z-index: 100;

  }
  99% {
    transform: translate(0, 100%);
    z-index: 100;
  }
  100% {
    transform: translate(0, 100%);
    z-index: -1;
  }
}