.line {
  fill: #617cbb;
  opacity: 1;
}

.language0 {
  fill: #ffffff;
}
.language1 {
  fill: #424399;
}
.language2 {
  font-family: 'Raleway-Bold';
}
.language3 {
  font-size: 23.04px;
}
.language4 {
  letter-spacing: 1;
}

.text0 {
  font-family: 'Amiri-Regular';
}
.text1 {
  font-size: 22px;
}
